@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&family=Volkhov&family=Work+Sans:wght@400;600;700&display=swap');


html {
    font-size: 10px;
    font-family: 'Work Sans';
}

body{
    margin: 0;
    background-color: #F5F5F5;
}

section{
    margin: 0 auto;
    padding: 2% 2% 10%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows:repeat(11, auto);
    gap: 5%;
    background-color: #FFB084;
    border-radius: 20px;
    max-width: 755px;
}
section>div{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 2% 5%;
    
}

.jonny{
    display: flex;
    flex-direction: column;
    grid-row: 1/9;
    box-shadow: 7px 7px 0px #000000    
}
.j_title{
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
}
.j_foto{
    text-align: center;
}
.j_info{
    font-size: 1.2rem;
    font-weight: 400;
    height: 10%;
}
.j_info span{
    font-weight: 600;
}

.bio{
    grid-column: 2/4;
    grid-row: 1/4;
    box-shadow: 7px 7px 0px #000000;
}
.bio div:first-child{
    font-weight: 700;
    font-size: 1.4rem;
}
.bio div:last-child{
    font-weight: 400;
    font-size: 1.4rem;
}

.goals{
    grid-row: 4/7;
    grid-column: 2;
    box-shadow: 7px 7px 0px #29A71E;
}
.goals>ul{
    padding-left: 7.5%;
}
.goals>ul>div{
    color: #29A71E;
    font-weight: 700;
    font-size: 1.4rem;
}
.goals>ul>li{
    list-style-position: inside;
    font-weight: 400;
    font-size: 1.4rem;
}

.frustrations{
    grid-row: 4/9;
    grid-column: 3;
    box-shadow: 7px 7px 0px #E13535;
}
.frustrations>ul{
    padding-left: 7.5%;
}
.frustrations>ul>div{
    color: #E13535;
    font-weight: 700;
    font-size: 1.4rem;
}
.frustrations>ul>li{
    list-style-position: inside;
    font-weight: 400;
    font-size: 1.4rem;
}

.vusliv{
    grid-row: 10/12;
    grid-column: 1;
    box-shadow: 7px 7px 0px #000000;
    font-weight: 700;
    font-size: 1.4rem;
}

.dream{
    grid-row: 7/12;
    grid-column: 2;
    box-shadow: 7px 7px 0px #3675B0;
}
.dream>ul{
    padding-left: 7.5%;
}
.dream>ul>div{
    color: #3675B0;
    font-weight: 700;
    font-size: 1.4rem;
}
.dream>ul>li{
    list-style-position: inside;
    font-weight: 400;
    font-size: 1.4rem;
}

.personality{
    padding-left: 10%;
    grid-row: 9/12;
    grid-column: 3;
    box-shadow: 7px 7px 0px #000000;
}
.personality div:first-child{
    font-weight: 700;
    font-size: 1.4rem;
}
.personality div:last-child{
    font-weight: 400;
    font-size: 1.4rem;
}
